.champion-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 15px;
  margin-left: 45px;
}

.champion-item1 {
  border: 1px solid #000000;
  border-radius: 25px;
  background-color: rgb(165, 196, 255);
  padding: 10px;
  height: auto;
}

.champion-item2 {
  border: 1px solid #000000;
  border-radius: 25px;
  background-color: rgb(145, 145, 145);
  padding: 10px;
  height: auto;
}

.champion-image {
  filter: grayscale(100%);
}

.refresh-button {
  background-color: deepskyblue;
  color: black;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  height: 80px;
  width: 150px;
}

.challenge-data-container {
  background-color: rgb(240, 240, 247);
  flex: 2;
  border: 2px solid;
  font-size: large;
  margin-left: 35px;
  justify-content: center;
  align-items: center;
}

.input-field {
  width: 400px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  margin-right: auto;
}

.button {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 150px;
  margin: 10px;
}

.input-field2 {
  width: 300px;
  height: 40px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
}